* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  }

.grid {
  display: flex;
  border: 1px solid blue;
  }

.column {
  display: flex;
  flex-direction: column;
}

.row {
  background: none;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  width: 35px;
  display: flex;
}
  
