.square {
    background: none;
    border-color: black;
    border-width: 2px;
    border-style: dotted;
    width: auto;
    height: auto;
  }

  .grid-container {
    min-width: 100px;
    height: 80vh;
    display: flex;
    /* flex-direction: column;*/
  }
