* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  color: #333;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
  color: #444;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1.2rem;
  margin-right: 10px;
}

input {
  padding: 5px;
  border: 2px solid #444;
  border-radius: 4px;
  font-size: 1rem;
  width: 60px;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-1px);
}

.container {
  padding: 10px;
  background-color: lightblue;
  border: 2px solid #444;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(230, 227, 223);
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.26);
  transition: background-color 0.125s;
}
